
<div class="tab-pane" id="tlatest">
    <div class="row">
  <div id="latest" class="owl-theme owl-carousel fnb">
{% set temp = 0 %}
{% set setCol = 2  %}
 {% for product in products %}

  {% set temp = temp + 1 %}

  {% if temp % setCol == 1 %}
      <div class="multi-row">
  {% endif %}
  <div class="product-layout col-xs-12 cless">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive center-block" /></a>
          <!-- Webiarch Images Start -->
                        {% set t = 0 %}
                          {% for webi_image in product.webi_images %}
                          {% if t == 0 %}
                           <a href="{{ product.href }}"><img src="{{ webi_image.popup }}" class="img-responsive second-img" alt="hover image"/></a>
                          {% set t = t + 1 %}
                          {% endif %}
                        {% endfor %}
        <!-- Webiarch Images End -->
       {% if product.price %}
          {% if product.special %}
        <h1 class="product-flag newpros"><span>sale</span></h1>
       {% endif %}
      {% endif %}
       <!-- {% if product.is_new %}<h1 class="new-product"><span>NEW</span></h1>{% endif %} -->
        {% if product.tag_per  %}
        <span class="sale">{{ product.tag_per }}%</span>
        {% endif %}

      </div>
      <div class="caption text-center">
         
         <div class="opbtn">

         <div class="col-xs-12 rat">
        {% if product.rating %}
          <div class="rating text-center">
            {% for i in 1..5 %}
            {% if product.rating < i %}
            <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% else %}
            <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% endif %}
          {% endfor %}</div>{% else %}
          <div class="rating text-center">{% for i in 1..5 %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endfor %}</div>
        {% endif %}
      </div>

       <h4  class="col-xs-12 protitle"><a href="{{ product.href }}">{{ product.name }}</a></h4>

         {% if product.price %}
        <div class="price col-xs-12 text-center">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
         {#  {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %} #}
        </div>
        {% endif %}
      </div>
       
  <div class="button-group">
      <div class="absbtn">
        <div class="wish"><button type="button" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');" class="bwish"><svg width="19px" height="19px"><use xlink:href="#pwish"></use></svg>{# {{ button_wishlist }} #}</button></div>
        <div class="view"><button type="button" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');" class="bcom"><svg width="16px" height="16px"><use xlink:href="#pcom"></use></svg>{# {{ button_compare }} #}</button></div>
       <div class="bquickv" title="Quickview"> </div> 
      <button type="button"  onclick="cart.add('{{ product.product_id }}');" class="cartb"><svg width="18px" height="17px"><use xlink:href="#pcart"></use></svg><span>
      {{ button_cart }}</span></button>
      </div>
    </div>

     <div class="extra-button">
      <button type="button"  onclick="cart.add('{{ product.product_id }}');" class="cartb"><svg width="18px" height="17px"><use xlink:href="#pcart"></use></svg><span>
      {{ button_cart }}</span></button>
        <div class="bquickv" title="Quickview"> </div> 
    </div>  
      </div>
      
    </div>
  </div>

    {% if temp % setCol == 0 %}
            </div>
        {% endif %}
    {% endfor %}

  {% if products|length % setCol != 0 %}
    <!-- <h1>hii</h1> -->
        </div>
    {% endif %}
        </div>
  </div>
</div>



<script type="text/javascript">
    $(document).ready(function() {
    $("#latest").owlCarousel({
    itemsCustom : [
    [0, 1],
    [320, 2],
    [576, 3],
    [700, 3],
    [768, 2],
    [900, 3],
    [1200, 3],
    [1410, 4]
    ],
      // autoPlay: 1000,
      navigationText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
      navigation : true,
      pagination:false
    });
    });
</script>