<div class="sellb">
	<div class="row">
			{% for banner in banners %}
				<div class="beffect col-sm-7 col-xs-12 selb">
				  {% if banner.link %}
				  	<a href="{{ banner.link }}">
				  		<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive center-block" />
				  		<span class="hover"><span class="r1"></span><span class="r2"></span></span>
				  	</a>
				  {% else %}
				  	<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive center-block" />{% endif %}
				</div>
			  {% endfor %}
			  <div class="imgbnr col-sm-5 col-xs-12"></div>
			</div>
</div>